/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                             &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &kp NUMBER_6    &kp N7     &kp N8         &kp N9      &kp NUMBER_0  &kp MINUS  &kp EQUAL
&mt LEFT_WIN LA(LEFT_SHIFT)  &kp ESCAPE      &kp Q         &kp W         &kp E         &kp R      &kp T           &kp Y      &kp U          &kp I       &kp O         &kp P      &kp LBKT         &kp RIGHT_BRACKET
                             &kp TAB         &kp A         &kp S         &kp D         &kp F      &kp G           &kp H      &kp J          &kp K       &kp L         &kp SEMI   &mt RCTRL SQT
                             &kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V      &kp B           &kp N      &kp M          &kp COMMA   &kp DOT       &kp FSLH   &kp RIGHT_SHIFT
                                                           &mo 2         &mo 1         &kp LCTRL  &kp RET         &kp SPACE  &kp BACKSPACE  &kp DELETE  &kp LEFT_ALT
            >;
        };

        lower_layer {
            bindings = <
              &kp F1  &kp F2     &kp F3     &kp F4          &kp F5     &kp F6       &kp F7  &kp F8          &kp F9          &kp F10          &kp F11        &kp F12
&kp CAPSLOCK  &trans  &none      &none      &none           &none      &kp GRAVE    &none   &kp HOME        &none           &kp PAGE_UP      &none          &none    &kp INSERT
              &trans  &none      &none      &kp LEFT_SHIFT  &kp LCTRL  &none        &none   &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &none          &none
              &trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(B)    &none   &kp END         &kp DOWN_ARROW  &kp PAGE_DOWN    &kp BACKSLASH  &trans
                                 &trans     &trans          &trans     &trans       &trans  &trans          &trans          &trans
            >;
        };

        raise_layer {
            bindings = <
       &none  &none  &none             &none              &none          &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none             &none              &none          &none    &none  &none  &none  &none  &none  &none  &none
       &none  &none  &kp DEL           &kp SPACE          &kp BACKSPACE  &none    &none  &none  &none  &none  &none  &none
       &none  &none  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none          &none    &none  &none  &none  &none  &none  &none
                     &none             &none              &none          &none    &none  &none  &none  &none
            >;
        };
    };
};
